/* 
    Created on : May 23, 2014, 12:10:57 AM
    Author     : Udith Gunaratna <uditharosha@gmail.com>
*/
footer{
    padding: 5px;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 30px;
    background-color: #f5f5f5;
    margin-top: 10px;
}

.p0{
    padding: 0;
}

.login-jumbotron{
    padding-top: 20px;
    padding-bottom: 20px;
}

.login-jumbotron h1{
    font-size: 36px;
    padding-bottom: 10px;
    border-bottom: #aaa solid 1px;
}

.login-jumbotron h4>label{
    font-weight: normal;
}

#loginForm{
    margin-left: 20px;
}

.navbar-brand{
    background-image: url(../images/logo.png);
    /*background-image: url(../images/logo_old.png);*/
    background-repeat: no-repeat;
    min-width: 120px;
    min-height: 50px;
    background-position: center;
    margin-right: 20px;
}

.navbar-nav>li {
    color: #FFF;
    font-size: 16px;
    margin: 10px 0;
    padding: 0 10px;
}

.navbar-nav>li.salutation {
    font-size: 18px;
    font-weight: bold;
    padding-top: 5px;
}

.navbar-nav.log-name-block{
    float: right;
}

.navbar-nav.log-name-block #log-name{
    margin-right: 10px;
    color: #00cd27;
}

.home-tile{
    border: #ddd solid 1px;
    background-color: #fdfdfd;
    border-radius: 5px;
    margin: 10px;
    padding: 10px;
    /*margin-right: 5px;*/
}

.home-tile:hover{
    border: #aaa solid 1px;
    background-color: #fafafa;
}

a.list-group-item-disabled{
    pointer-events: none;
    color: #aaa;
    background-color: #eee;
}

table.dataTable{
    border-collapse: collapse;
}

.dataTables_wrapper table.dataTable th{
    background-color: #eee;
}

.dataTables_wrapper .dataTables_paginate .paginate_button{
    padding: 0;
}

.dataTables_wrapper .dataTables_paginate .paginate_button:hover{
    background: transparent;
    border-color: transparent
}