#roomSelect .textBox{    
    border-color: #007dcd; 
    width: 100%;
}

#roomSelect .dropList {
    border-color: #007dcd;
}

#dateSelector .dropList{
    border-color: #00cd27;
}

#roomSelect{
    margin: 10px auto 0 auto;        
    width: 700px;        
    text-align: center;
    color: #020289;
}

#roomSelect table td{
    padding: 0 10px;
    height: 30px;
    margin: auto;
}

#reg1{
    margin: 0;
    /*margin-right: 30px;*/
    width: 65%;
    padding: 10px 10px 10px 10px;
    background-color: #c4c9f4;
    border-top-left-radius: 10px;    
    -moz-border-top-left-radius: 10px;    
    -webkit-border-top-left-radius: 10px;
}

#reg2{
    margin: 0;
    width: 29%;
    height: 100%;    
    padding: 10px 10px 10px 10px;
    background-color: #c4c9f4;
    border-top-right-radius: 10px;    
    -moz-border-top-right-radius: 10px;    
    -webkit-border-top-right-radius: 10px;    
    float: right;    
}

#reg3{
    margin: 0;
    margin-top: 2px;
    width: 97%;        
    padding: 10px 10px 10px 10px;
    background-color: #c4c9f4;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    -moz-border-bottom-right-radius: 10px;
    -moz-border-bottom-left-radius: 10px;
    -webkit-border-bottom-right-radius: 10px;
    -webkit-border-bottom-left-radius: 10px;    
}

#showBtn, #allBtn, #reqRes{
    margin-bottom: 10px;
    height: 30px;    
    width: 100px;
    font-size: 16px;    
}

#allBtn{
    height: 60px;    
    width: 180px;
}

#openReq{
    /*display: none;*/
    text-align: center;
    margin-top: 10px;
    font-size: 36px;
    display: none;
}

#sug{
    font-size: 14px;
    text-align: left;
    /*margin-left: 0;*/
}

.sugText{
    color: #fff;
}

.sugText:hover{
    color: #444;
    cursor: pointer;
}

#roomSheet{    
    width:90%;    
    margin: 20px auto;    
}

#roomSheet table{
    overflow:hidden;
    border:1px solid #d3d3d3;
    background:#fefefe;
    width:100%;
    margin:0 auto 0;
    -moz-border-radius:5px; /* FF1+ */
    -webkit-border-radius:5px; /* Saf3-4 */
    border-radius:5px;
    -moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
}

#roomSheet th, td {padding:10px 20px 10px; text-align:center; }

#roomSheet th {padding-top:22px; text-shadow: 1px 1px 1px #fff; background:#e8eaeb;}

#roomSheet td {border-top:1px solid #e0e0e0; border-right:1px solid #e0e0e0;}

#roomSheet tr.odd-row td {background:#f6f6f6;}

#roomSheet td.first, th.first {text-align:left}

#roomSheet td.last {border-right:none;}

#roomSheet td {
    background: -moz-linear-gradient(100% 25% 90deg, #fefefe, #f9f9f9);
    background: -webkit-gradient(linear, 0% 0%, 0% 25%, from(#f9f9f9), to(#fefefe));    
}

#roomSheet tr:hover td {
    background: -moz-linear-gradient(100% 25% 90deg, #f6f6f6, #f1f1f1);
    background: -webkit-gradient(linear, 0% 0%, 0% 25%, from(#f1f1f1), to(#f6f6f6));
    cursor: pointer;
}

#roomSheet th {
    background: -moz-linear-gradient(100% 20% 90deg, #cdcdcd, #bebebe);
    background: -webkit-gradient(linear, 0% 0%, 0% 20%, from(#ededed), to(#e8eaeb));
}

#roomSheet tr:first-child th.first {
    -moz-border-radius-topleft:5px;
    -webkit-border-top-left-radius:5px; /* Saf3-4 */
}

#roomSheet tr:first-child th.last {
    -moz-border-radius-topright:5px;
    -webkit-border-top-right-radius:5px; /* Saf3-4 */
}

#roomSheet tr:last-child td.first {
    -moz-border-radius-bottomleft:5px;
    -webkit-border-bottom-left-radius:5px; /* Saf3-4 */
}

#roomSheet tr:last-child td.last {
    -moz-border-radius-bottomright:5px;
    -webkit-border-bottom-right-radius:5px; /* Saf3-4 */
}

#resData{    
    width:96%;    
    margin: 20px auto;    
}

#resData table{
    overflow:hidden;
    border:1px solid #d3d3d3;
    background:#fefefe;
    width:100%;
    margin:0 auto 0;
    -moz-border-radius:5px; /* FF1+ */
    -webkit-border-radius:5px; /* Saf3-4 */
    border-radius:5px;
    -moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
}

#resData th, td {padding:5px 10px 5px; text-align:center; }

#resData th {text-shadow: 1px 1px 1px #fff; background:#e8eaeb;}

#resData td {border-top:1px solid #e0e0e0; border-right:1px solid #e0e0e0;}

#resData tr.odd-row td {background:#f6f6f6;}

#resData td.first, th.first {text-align:left}

#resData td.last {border-right:none;}

#resData td {
    background: -moz-linear-gradient(100% 25% 90deg, #fefefe, #f9f9f9);
    background: -webkit-gradient(linear, 0% 0%, 0% 25%, from(#f9f9f9), to(#fefefe));    
}

#resData th {
    background: -moz-linear-gradient(100% 20% 90deg, #cdcdcd, #bebebe);
    background: -webkit-gradient(linear, 0% 0%, 0% 20%, from(#ededed), to(#e8eaeb));
}

#resData tr:first-child th.first {
    -moz-border-radius-topleft:5px;
    -webkit-border-top-left-radius:5px; /* Saf3-4 */
}

#resData tr:first-child th.last {
    -moz-border-radius-topright:5px;
    -webkit-border-top-right-radius:5px; /* Saf3-4 */
}

#resData tr:last-child td.first {
    -moz-border-radius-bottomleft:5px;
    -webkit-border-bottom-left-radius:5px; /* Saf3-4 */
}

#resData tr:last-child td.last {
    -moz-border-radius-bottomright:5px;
    -webkit-border-bottom-right-radius:5px; /* Saf3-4 */
}

#warnText{
    color: #f00;    
    font-size: 14px;
    text-align: right;
}

.subhead{    
    font-size: 18px;
    font-weight: bold; 
    text-align: left;
}

#overlay{
    display: none;
    /*color: #fff;*/
    z-index: 2;
    background: rgba(0,0,0,0.7);    
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    /*text-align: center;*/
}

#ovBox{    
    position: relative;
    z-index: 3;
    margin: 150px auto 0px auto;
    width: 700px; 
    /*min-height: 300px;*/
    font-family: Armata;
    background-image: url(../images/gray_jean.png);
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border: #000 solid;
    color: #000;
}

#dateSelector{    
    background-color: #c8f4c4;    
    width: 100%;
    padding: 5px 0;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    -moz-border-top-left-radius: 10px;
    -moz-border-top-right-radius: 10px;
    -webkit-border-top-left-radius: 10px;
    -webkit-border-top-right-radius: 10px;
    text-align: center;
    color: #075d26;
    /*display: none;*/
}

#btnPanel{
    text-align: right;
    padding: 0px 20px;
}

#reqRes{
    height: 50px;
    width: 150px;
    margin-bottom: 10px;
}

#closeOvr{
    float: right;
    margin-right: 20px;
    margin-top: 0px;
    height: 26px;
    width: 26px;
    border-radius: 13px;
    -moz-border-radius: 13px;
    -webkit-border-radius: 13px;
    font-size: 14px;
    padding: 0;
}