#reservations {
}
#requests {
}

h2{
	margin-left: 20px;
	margin-bottom: 0px;
	color: #006633;
        text-shadow: 0.05em 0.05em #fff;
	font-style: normal;
	font-weight: bold;
	font-size: 34px;
}

#confirm {
	position: relative;
    z-index: 3;
    margin: 150px auto 0px auto;
    width: 300px; 
    /*min-height: 300px;*/
    font-family: Armata;
    background-image: url(../images/cream_dust.png);
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border: #000 solid;
    color: #000;
}

#ovrHeader{
	padding: 0px 10px;	
}
#confirmBody {
	padding: 10px 10px;
}

#yBtn, #nBtn{
	width: 134px;
	height: 30px;	
	font-size: 14px;
	margin: 10px auto 0 auto; 
}

.canBtn{
	width: 100%;
	height: 100%;
	margin: 0;
	border-radius:0;
        margin: 0px;
}

table{    
    width:90%;
}

