@charset "utf-8";
/* CSS Document */

#logout {
    visibility: hidden;	
}

#logName {
    visibility: hidden;	
}

#normLog{
    border-radius: 10px;	
}
/*
*/.sidebar{
    min-width: 240px;	
}/*

.content{
    width: 100%;        
}*/

.content h2{
    font-weight: normal;
    text-align: left;
    margin-left: 100px;
    color: #02601a;
}

#loginForm {
	width: 700px;
	margin: 10px auto;
	padding: 10px 0px;
	border: #007dcd solid;
	border-radius: 20px;
	background-image: url(../images/gray_jean.png);
}

#loginForm label{
    font-family: Armata;
    color: #000;
    padding-top: 8px;
    clear: right;
    margin: 5px 15px;
    font-size: 18px;
}

#loginForm h1{
    color: #024b89;
    padding-top: 8px;
    clear: right;
    margin: 5px 15px;
    font-size: 36px;
}

.logBox {
    border-radius: 4px;
    text-indent: 10px;
    font-size: 18px;
    border-style: solid;
    border-width: thin;
    border-color: #007dcd;
    padding: 3px 0px;
    margin: 5px 25px;    
    /*//box-shadow:inset 0 0 3px #444;*/
}

#loginBtn {	
    background:#007dcd;
    background:-moz-linear-gradient(top,#007dcd 0%,#024b89 100%);
    background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#007dcd),color-stop(100%,#024b89));
    background:-webkit-linear-gradient(top,#007dcd 0%,#024b89 100%);
    background:-o-linear-gradient(top,#007dcd 0%,#024b89 100%);
    background:-ms-linear-gradient(top,#007dcd 0%,#024b89 100%);
    background:linear-gradient(top,#007dcd 0%,#024b89 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#007dcd',endColorstr='#024b89',GradientType=0);
    padding:2px 10px;
    margin: 5px 25px;
    color:#fff;	
    font-family: Armata;
    font-size:20px;
    border-radius:5px;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;	
    border:1px solid #ccc;
    width: 80%;	
    height: 45px;	
    cursor: pointer; 
    float: right;
}

#loginBtn:hover{	
    background:-moz-linear-gradient(top,#035c94 0%,#002d53 100%);
    background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#035c94),color-stop(100%,#002d53));
    background:-webkit-linear-gradient(top,#035c94 0%,#002d53 100%);
    background:-o-linear-gradient(top,#035c94 0%,#002d53 100%);
    background:-ms-linear-gradient(top,#035c94 0%,#002d53 100%);
    background:linear-gradient(top,#035c94 0%,#002d53 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#035c94',endColorstr='#002d53',GradientType=0);	
}

.error{
    color: #f00;	
    font-size: 14px;	
}

#back {	
    background:#cd0000;
    background:-moz-linear-gradient(top,#cd0000 0%,#890202 100%);
    background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#cd0000),color-stop(100%,#890202));
    background:-webkit-linear-gradient(top,#cd0000 0%,#890202 100%);
    background:-o-linear-gradient(top,#cd0000 0%,#890202 100%);
    background:-ms-linear-gradient(top,#cd0000 0%,#890202 100%);
    background:linear-gradient(top,#cd0000 0%,#890202 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#cd0000',endColorstr='#890202',GradientType=0);
    border:1px solid #9a0000;
    padding:5px 20px;
    color:#fff;	
    font-family: Armata;
    font-size:20px;
    border-radius:5px;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;

    float: right;
    margin-top: 5px;
    cursor: pointer;	
}

#back:hover{	
    background:-moz-linear-gradient(top,#b00303 0%,#600202 100%);
    background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#b00303),color-stop(100%,#600202));
    background:-webkit-linear-gradient(top,#b00303 0%,#600202 100%);
    background:-o-linear-gradient(top,#b00303 0%,#600202 100%);
    background:-ms-linear-gradient(top,#b00303 0%,#600202 100%);
    background:linear-gradient(top,#b00303 0%,#600202 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#b00303',endColorstr='#600202',GradientType=0);
}

.eResLogo {
	height: 150px;
	width: 500px;
	margin: 0px auto;
	background-image: url(../images/logo_large.png);
}
