@charset "utf-8";
/* CSS Document */

#logout {
    visibility: hidden;	
}

#calendar {
    height: 40px;    	
    margin-top: -10px;	
    margin-left: 10px;
    padding-top: 0px;
}

#normLog{
    border-radius: 10px;	
}

.sidebar{
    /*min-width: 240px;*/	
    width: 0;
}

.content{
    width: 100%;
    /*background: #fff;*/    
}

.content h2{
    font-weight: normal;
    text-align: left;
    margin-left: 100px;
    color: #02601a;
}

#loginForm {
	width: 400px;
	margin: 20px auto;
	padding: 5px 0px;
	padding-bottom: 0;
	border: #479f28/*#007dcd*/ solid 2px;
	border-radius: 20px;
	background-image: url(../images/cream_dust.png);
	/*background-color: #d7efd5;*/
}

#erImage{	
	margin-bottom: 20px;
	margin-left: auto;
	margin-right: 20px;
	margin-top: 20px;
        float: right;
}

#loginForm label{
    font-family: 'Noto Sans';
    color: #000;
    padding-top: 8px;
    clear: right;
    margin: 5px 15px;
    font-size: 18px;
}

#loginForm h1{
    color: #479f28;
    padding-top: 8px;
    clear: right;
    margin: 5px 15px;
    font-size: 36px;
}

.logBox {
    border-radius: 4px;
    text-indent: 10px;
    font-size: 18px;
    border-style: solid;
    border-width: thin;
    border-color: #479f28;
    padding: 3px 0px;
    margin: 5px 25px;        
}

#loginBtn {	    
    width: 80%;	
    height: 45px;
    margin: 0px 25px;
    /*float: right;*/
}

#back {	
    background:#cd0000;
    background:-moz-linear-gradient(top,#cd0000 0%,#890202 100%);
    background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#cd0000),color-stop(100%,#890202));
    background:-webkit-linear-gradient(top,#cd0000 0%,#890202 100%);
    background:-o-linear-gradient(top,#cd0000 0%,#890202 100%);
    background:-ms-linear-gradient(top,#cd0000 0%,#890202 100%);
    background:linear-gradient(top,#cd0000 0%,#890202 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#cd0000',endColorstr='#890202',GradientType=0);
    border:1px solid #9a0000;
    padding:5px 20px;
    color:#fff;	
    font-family: Armata;
    font-size:20px;
    border-radius:5px;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    float: right;
    margin-top: 5px;
    cursor: pointer;	
}

#back:hover{	
    background:-moz-linear-gradient(top,#b00303 0%,#600202 100%);
    background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#b00303),color-stop(100%,#600202));
    background:-webkit-linear-gradient(top,#b00303 0%,#600202 100%);
    background:-o-linear-gradient(top,#b00303 0%,#600202 100%);
    background:-ms-linear-gradient(top,#b00303 0%,#600202 100%);
    background:linear-gradient(top,#b00303 0%,#600202 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#b00303',endColorstr='#600202',GradientType=0);
}
