@charset "utf-8";
@font-face {
    font-family: 'SEGOEUIL';
    src: url('fonts/SEGOEUIL.eot');
    src: local('SEGOEUIL'), url('fonts/SEGOEUIL.otf') format('opentype');
    /*src: local('SEGOEUIL'), url('fonts/SEGOEUIL.ttf') format('truetype');*/
}
/*@font-face {
  font-family: 'Armata';
  font-style: normal;
  font-weight: 400;
  src: local('Armata'), local('Armata-Regular'), url(http://themes.googleusercontent.com/static/fonts/armata/v3/FG9R9aX-RIX_AvJI8USOWg.woff) format('woff');
}*/

@font-face {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Noto Sans'), local('NotoSans'), url(fonts/Noto400.woff) format('woff');
}
@font-face {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Noto Sans Bold'), local('NotoSans-Bold'), url(fonts/Noto700.woff) format('woff');
}

body {	
    /*background-image: url(../images/debut_light.png);*/
    background-image: url(../images/cream_dust.png);
    font-family: SEGOEUIL;
    margin: 0;
    padding: 0;
    color: #000;
    min-width: 1000px;	
    height: 100%;	
}

body p{	
    font-family: 'Noto Sans';
}

.container {
    width: 100%;
    position: absolute;	
    min-width: 1000px;
    margin: 0 auto;	
    /*background-image: url(../images/debut_light.png);*/	
    /*background-image: url(../images/cream_dust.png);*/
    background-image: url(../images/wood.jpg);
    background-repeat: repeat;
    min-height: 100%;	
}

.header {
    background-repeat: repeat;
    height: 80px;
    border-bottom-style: solid;
    border-bottom-width: thin;
    border-bottom-color: #FFF;
    background-image: url(../images/texture2.jpg);
    text-align: center;
    box-shadow: 0 2px 5px 2px #222; 
    position: relative;
    z-index:5;
}

.logo {
    float: left;	
    padding: 0px 20px;
}
.siteName{
    text-align: center;
}

#mainTitle {
    font-size: 300%;
    color: #FFF;
}
#subTitle {
    font-size: 180%;
    margin-bottom: 50px;
    color: #CCC;
    display: none;
}

.titleBar {
    background-color: #479f28;
    text-align: left;
    font-size: 200%;
    color: #fff;
    border-bottom-style: ridge;	
    border-bottom-color: #888;	
    border-bottom-width: thin;	
    padding: 10px 50px;
    position:relative;	
    height: 40px;
}

.adminTitle{
    background-color: #47289f;
}

.oadminTitle{
    background-color: #9f2887;
}

.staffTitle{
    background-color: #9f9028;
}

#logName {
    font-family: 'Noto Sans';
    font-size:20px;    
    float: right;
    margin-top: 0px;
    padding:10px 20px; 
    height: 30px;
}

#logout {	
    float: right;
    margin-top: auto;	
    margin-left: 10px;
    height: 30px;
    font-size: 18px;
    padding-top: 0px;
}

.sidebar {
    float: right;
    width: 20%;		
    margin: 0 1%;    
}

.content {
/*    font-family: 'Armata';    */
    font-family: 'Noto Sans';
    padding: 10px 0;	
    width: 78%;	
}

/*.footer {
    font-family: Armata;
    font-size: 16px;
    color: #fff;
    padding: 5px 0px;	
    width: 100%;	
    clear: both; 
    box-shadow: 0 -1px 5px 1px #222;
    border-top-style: solid;
    border-top-width: thin;
    border-top-color: #FFF;	
    background-image: url(../images/denim.png);   	
    position: relative;	
    bottom: 0;
}*/

/* ~~ miscellaneous float/clear classes ~~ */
.fltrt {  /* this class can be used to float an element right in your page. The floated element must precede the element it should be next to on the page. */
    float: right;
    margin-left: 8px;
}
.fltlft { /* this class can be used to float an element left in your page. The floated element must precede the element it should be next to on the page. */
    float: left;
    margin-right: 8px;
}
.clearfloat { /* this class can be placed on a <br /> or empty div as the final element following the last floated div (within the #container) if the #footer is removed or taken out of the #container */
    clear:both;
    height:0;
    font-size: 1px;
    line-height: 0px;
}
.hidden {
    display: none;	
}

#jsAlert {
    color: #f00;    
}

/*********************** CSS for gradient buttons ***********************/
/*.redBtn{
    background:#cd0000;
    background:-moz-linear-gradient(top,#cd0000 0%,#890202 100%);
    background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#cd0000),color-stop(100%,#890202));
    background:-webkit-linear-gradient(top,#cd0000 0%,#890202 100%);
    background:-o-linear-gradient(top,#cd0000 0%,#890202 100%);
    background:-ms-linear-gradient(top,#cd0000 0%,#890202 100%);
    background:linear-gradient(top,#cd0000 0%,#890202 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#cd0000',endColorstr='#890202',GradientType=0);
    border:1px solid #9a0000;
    padding:5px 20px;
    color:#fff;	
    font-family: 'Noto Sans';
    font-size:20px;
    border-radius:5px;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    cursor: pointer;
}

.redBtn:hover{	
    background:#b00303;
    background:-moz-linear-gradient(top,#b00303 0%,#600202 100%);
    background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#b00303),color-stop(100%,#600202));
    background:-webkit-linear-gradient(top,#b00303 0%,#600202 100%);
    background:-o-linear-gradient(top,#b00303 0%,#600202 100%);
    background:-ms-linear-gradient(top,#b00303 0%,#600202 100%);
    background:linear-gradient(top,#b00303 0%,#600202 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#b00303',endColorstr='#600202',GradientType=0);
}

.blueBtn {	
    background:#007dcd;
    background:-moz-linear-gradient(top,#007dcd 0%,#024b89 100%);
    background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#007dcd),color-stop(100%,#024b89));
    background:-webkit-linear-gradient(top,#007dcd 0%,#024b89 100%);
    background:-o-linear-gradient(top,#007dcd 0%,#024b89 100%);
    background:-ms-linear-gradient(top,#007dcd 0%,#024b89 100%);
    background:linear-gradient(top,#007dcd 0%,#024b89 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#007dcd',endColorstr='#024b89',GradientType=0);
    border:1px solid #00489a;
    padding:5px 20px;
    color:#fff;	
    font-family: Noto Sans;
    font-size:20px;
    border-radius:5px;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;	
    cursor: pointer;        
}

.blueBtn:hover {
    background:#035c94;
    background:-moz-linear-gradient(top,#035c94 0%,#002d53 100%);
    background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#035c94),color-stop(100%,#002d53));
    background:-webkit-linear-gradient(top,#035c94 0%,#002d53 100%);
    background:-o-linear-gradient(top,#035c94 0%,#002d53 100%);
    background:-ms-linear-gradient(top,#035c94 0%,#002d53 100%);
    background:linear-gradient(top,#035c94 0%,#002d53 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#035c94',endColorstr='#002d53',GradientType=0);
}

.greenBtn {       
    color: #FFF;
    cursor: pointer;
    background:#00cd27;
    background:-moz-linear-gradient(top,#00cd27 0%,#028932 100%);
    background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#00cd27),color-stop(100%,#028932));
    background:-webkit-linear-gradient(top,#00cd27 0%,#028932 100%);
    background:-o-linear-gradient(top,#00cd27 0%,#028932 100%);
    background:-ms-linear-gradient(top,#00cd27 0%,#028932 100%);
    background:linear-gradient(top,#00cd27 0%,#028932 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#00cd27',endColorstr='#028932',GradientType=0);
    border:1px solid #009a3e;
    font-size: 16px;
    font-family: Noto Sans;
    border-radius:5px;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
}

.greenBtn:hover{
    background:#03b01f;
    background:-moz-linear-gradient(top,#03b01f 0%,#02601a 100%);
    background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#03b01f),color-stop(100%,#02601a));
    background:-webkit-linear-gradient(top,#03b01f 0%,#02601a 100%);
    background:-o-linear-gradient(top,#03b01f 0%,#02601a 100%);
    background:-ms-linear-gradient(top,#03b01f 0%,#02601a 100%);
    background:linear-gradient(top,#03b01f 0%,#02601a 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#03b01f',endColorstr='#02601a',GradientType=0);
}*/

/*********************** CSS for flat buttons ***********************/

.redBtn{
    background:#cd0000;
    border:1px solid #9a0000;
    padding:5px 20px;
    color:#fff;	
    font-family: 'Noto Sans';
    font-size:20px;
    cursor: pointer;
}

.redBtn:disabled{
    background:#b00303;
    cursor: default;
}

.redBtn:hover{	
    background:#b00303;
}

.blueBtn {	
    background:#007dcd;
    border:1px solid #00489a;
    padding:5px 20px;
    color:#fff;	
    font-family: Noto Sans;
    font-size:20px;
    cursor: pointer;        
}

.blueBtn:disabled {	
    background:#035c94;
    cursor: default;        
}

.blueBtn:hover{
    background:#035c94;
}

.greenBtn {       
    color: #FFF;
    cursor: pointer;
    background:#03b01f;
    border:1px solid #009a3e;
    font-size: 16px;
    font-family: Noto Sans;
}

.greenBtn:disabled{
    background:#02601a;
    cursor: default;
}

.greenBtn:hover{
    background:#02601a;
}
/********************************************************************/

.textBox{
    border-radius: 4px;    
    border-style: solid;
    border-width: thin;    
    height: 20px;
}

.dropList {
    height: 25px;
    font-size: 17px;
    border-radius: 3px;
    border-style: solid;
    border-width: thin;    
}

.overlay{
    display: none;
    /*color: #fff;*/
    z-index: 2;
    background: rgba(0,0,0,0.7);
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;    /*text-align: center;*/
}

.error{
    color: #f00;	
    font-size: 14px;	
}

.dataTable{
    overflow:hidden;
    border:1px solid #d3d3d3;
    background:#fefefe;
    width:90%;
    table-layout: fixed;
    margin:0 auto 0;
    -moz-border-radius:5px; /* FF1+ */
    -webkit-border-radius:5px; /* Saf3-4 */
    border-radius:5px;
    -moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
}

.dataTable th, .dataTable td {padding:5px 20px 5px; text-align:center; }

.dataTable th {text-shadow: 1px 1px 1px #fff; background:#e8eaeb;}

.dataTable td {
    border-top:1px solid #e0e0e0; 
    border-right:1px solid #e0e0e0;
    word-wrap: break-word;
}

.dataTable tr.odd-row td {background:#f6f6f6;}

.dataTable td.first, th.first {text-align:left}

.dataTable td.last {border-right:none;}

.dataTable td {
    background: -moz-linear-gradient(100% 25% 90deg, #fefefe, #f9f9f9);
    background: -webkit-gradient(linear, 0% 0%, 0% 25%, from(#f9f9f9), to(#fefefe));    
}

.dataTable th {
    background: -moz-linear-gradient(100% 20% 90deg, #cdcdcd, #bebebe);
    background: -webkit-gradient(linear, 0% 0%, 0% 20%, from(#bebebe), to(#cdcdcd));
}

.dataTable tr:first-child th.first {
    -moz-border-radius-topleft:5px;
    -webkit-border-top-left-radius:5px; /* Saf3-4 */
}

.dataTable tr:first-child th.last {
    -moz-border-radius-topright:5px;
    -webkit-border-top-right-radius:5px; /* Saf3-4 */
}

.dataTable tr:last-child td.first {
    -moz-border-radius-bottomleft:5px;
    -webkit-border-bottom-left-radius:5px; /* Saf3-4 */
}

.dataTable tr:last-child td.last {
    -moz-border-radius-bottomright:5px;
    -webkit-border-bottom-right-radius:5px; /* Saf3-4 */
}