@charset "utf-8";
/* CSS Document */

#navigation { 
    font-family: Armata;
    font-size:16px; 
    width:80%;
    margin: 20px auto;	
}

#navigation ul { 
    margin:0; 
    padding:0;     
    cursor: pointer;
}

#navigation li { 
    list-style:none;
    padding: 10px 20px;
    min-height: 30px;
    background:#333333;
    background:-moz-linear-gradient(top,#333333 0%,#000000 100%);
    background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#333333),color-stop(100%,#000000));
    background:-webkit-linear-gradient(top,#333333 0%,#000000 100%);
    background:-o-linear-gradient(top,#333333 0%,#000000 100%);
    background:-ms-linear-gradient(top,#333333 0%,#000000 100%);
    background:linear-gradient(top,#333333 0%,#000000 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#333333',endColorstr='#000000',GradientType=0);
    margin-bottom: 5px;
    border-radius: 5px;
}

#navigation a {
    color: #fff; 
    display:block;
    min-height:25px;
    line-height: 25px;
    text-align:center; 
    text-decoration:none;    
    width:100%;
}

#navigation li:hover {	    
    background:#ff9900;
    background:-moz-linear-gradient(top,#ff9900 0%,#ba7103 100%);
    background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#ff9900),color-stop(100%,#ba7103));
    background:-webkit-linear-gradient(top,#ff9900 0%,#ba7103 100%);
    background:-o-linear-gradient(top,#ff9900 0%,#ba7103 100%);
    background:-ms-linear-gradient(top,#ff9900 0%,#ba7103 100%);
    background:linear-gradient(top,#ff9900 0%,#ba7103 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff9900',endColorstr='#ba7103',GradientType=0);
    border-style: none;
    border-radius: 5px;
}