#avail{
	width: 600px;
	margin: 10px auto;
	color: #000066;
	font-size: 20px;
	padding: 10px;
	border: #007dcd solid 1px;
	border-radius: 10px;
	background-image: url(../images/gray_jean.png);
}

#availForm, #availFeed{
    margin-left: 50px;
}

#avail .textBox, #avail .dropList, #oPurpose, #oItems{
    border-color: #007dcd;
}

#roomID{
	font-size: 16px;
}

#availCheck{
    height: 30px;
    width: 100%;
    font-size: 14px;
}

#availFeed{
    font-size: 16px;
    line-height: 28px;
	padding-right: 15px;
	text-align: right;
}

#resRoom, #canRoom{
    height: 30px;
    width: 44%;
    font-size: 14px;
	padding: 0 2%;
}

tr {
    height: 40px;
}

td {
    padding: 5px 20px;
}

label{
    font-size: 16px;
    color:#009a3e;
}

h2{
    font-size: 26px;
    font-weight: bold;    
    margin-bottom: 0;
    margin-top: 0;
}

#wrongID{
	color: #f00;
	font-size: 12pt;
	display: none;
}
#reserveBox {
	position: relative;
    z-index: 3;
    margin: 150px auto 0px auto;
    width: 600px; 
    /*min-height: 300px;*/
    font-family: Armata;
    background-image: url(../images/gray_jean.png);
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border: #000 solid;
    color: #000;
}

#ovrHeader{
	padding: 5px 10px;	
}

#closeOvr{
    float: right;
    margin-right: 20px;
    margin-top: 0px;
    height: 26px;
    width: 26px;
    border-radius: 13px;
    -moz-border-radius: 13px;
    -webkit-border-radius: 13px;
    font-size: 14px;
    padding: 0;
}

#oPurpose, #oItems{
	border-radius: 5px;    
    border-style: solid;
    border-width: thin;	
	width: 400px;
	max-width: 400px;
	min-width: 400px;
	height: 50px;		
	min-height: 50px;
}

#requestBtn{
	height: 50px;
    width: 150px;
    font-size: 24px;
	padding: 0 2%;
	margin-bottom: 5px;	
}

#suggest{
    margin: 10px auto;
    text-align: center;
}

#suggestR{
    width: 300px;
    height: 50px;
    font-size: 22px;
}