#historyTable{
    width:90%;    
}
#selectPanel {
	width: 500px;
	margin: 10px auto;
	border-radius: 10px;
	border: #479f28 solid 1px;
	color: #479f28;
	background-image: url(../images/cream_dust.png);
	padding-top: 5px;
	padding-right: 10px;
	padding-bottom: 5px;
	padding-left: 10px;
}

#historyTable tr:hover td {
    background: -moz-linear-gradient(100% 25% 90deg, #f6f6f6, #f1f1f1);
    background: -webkit-gradient(linear, 0% 0%, 0% 25%, from(#f1f1f1), to(#f6f6f6));
    cursor: pointer;
}

#resDetails{
    position: relative;
    z-index: 3;
    margin: 150px auto 0px auto;
    width: 600px;     
    font-family: 'Noto Sans';
    background-image: url(../images/cream_dust.png);
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border: #000 solid;
    color: #000;
}

#reqTable{
    margin: 10px auto;
    color: #002d53;
}

#reqTable td{
    padding: 5px 10px;
}

#closeBtn{
    height: 30px;
    margin: 5px;
    font-size: 14px;
}