@charset "utf-8";
/* CSS Document */

.content{
    width: 100%;
}

.sidebar{
    width: 0%;
}

h2{
    margin-left: 20px;
    margin-bottom: 0px;
    font-size: 28px;
}

#roomsTable{
    width: 90%;
}

.doneBtn{
    width: 100%;
    height: 100%;
    margin: 0;
    border-radius:0;
    margin: 0px;
}

#rate{
	position: relative;
	z-index: 3;
	margin: 150px auto 0px auto;
	width: 600px;
	/*min-height: 300px;*/
	font-family: 'Noto Sans';
	background-image: url(../images/cream_dust.png);
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border: #000 solid;
	color: #000;
}

#ovrHeader{
    padding: 5px 10px;	
}

#closeOvr{
    float: right;
    margin-right: 0px;
    margin-top: 0px;
    height: 26px;
    width: 26px;
    border-radius: 13px;
    -moz-border-radius: 13px;
    -webkit-border-radius: 13px;
    font-size: 14px;
    padding: 0;
}

#rate table{
	margin: 10px;	
}

#rate table #compRow{
	/* [disabled]display:none; */
}
