/* 
    Document   : suggestStyle    
    Author     : Udith Arosha
    Description:
        Style sheet for suggest.php page
*/

#needs{
	width: 600px;
	margin: 10px auto;
	color: #006600;
	font-size: 16px;
	padding: 10px;
	border: #479f28 solid 1px;
	border-radius: 10px;        
	background-image: url(../images/cream_dust.png);
}

#needForm{
    margin-left: 30px;
}

#needs .textBox, .dropList, #oPurpose, #oItems{
    border-color: #479f28;
}

tr {
    height: 40px;
}

td {
    padding: 5px 20px;
}

h2{
    font-size: 26px;
    font-weight: bold;    
    margin-bottom: 0;
    margin-top: 0;
}

#sugBtn{
    height: 30px;
    width: 100%;
    font-size: 14px;
}

#sugTable{
    width: 98%;
}

#sugTable tr:hover td {
    background: -moz-linear-gradient(100% 25% 90deg, #f6f6f6, #f1f1f1);
    background: -webkit-gradient(linear, 0% 0%, 0% 25%, from(#f1f1f1), to(#f6f6f6));
    cursor: pointer;
}

#reserveBox {
    position: relative;
    z-index: 3;
    margin: 150px auto 0px auto;
    width: 600px; 
    /*min-height: 300px;*/
    font-family: 'Noto Sans';
    background-image: url(../images/cream_dust.png);
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border: #000 solid;
    color: #000;
}

#ovrHeader{
    padding: 5px 10px;	
}

#closeOvr{
    float: right;
    margin-right: 0px;
    margin-top: 0px;
    height: 26px;
    width: 26px;
    border-radius: 13px;
    -moz-border-radius: 13px;
    -webkit-border-radius: 13px;
    font-size: 14px;
    padding: 0;
}

#oPurpose, #oItems{
    border-radius: 5px;    
    border-style: solid;
    border-width: thin;	
    width: 400px;
    max-width: 400px;
    min-width: 400px;
    height: 50px;		
    min-height: 50px;
}

#requestBtn{
    height: 50px;
    width: 150px;
    font-size: 24px;
    padding: 0 2%;
    margin-bottom: 5px;	
}